$bckg-color: #E5E7EA;
$high-color: #FD3743;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-color: $bckg-color;
}

main {
  height: 90dvh;
  display: grid;
  place-items: center;
}

nav {
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: $high-color;
}

.search-box {
  text-align: center;
  gap: 10px;
  font-size: 48px;
  font-weight: 800;

  input {
    border: none;
    outline: none;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: $high-color;
    background-color: $bckg-color;
    width: 90vw;

    &:focus {
      caret-color: black;
    }
  }
}