$bckg-color: #E5E7EA;
$high-color: #FD3743;

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-color: $bckg-color;
}

a {
  text-decoration: none;

  &:visited {
    color: $high-color;
  }
}

main,
.domain-nf {
  height: 90dvh;
  display: grid;
  place-items: center;
}

span {
  color: $high-color;
}

.domain-nf div {
  font-size: 40px;
  color: $high-color;
  font-weight: 700;

  span {
    color: black;
  }
}

nav {
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: $high-color;
}

.search-box {
  text-align: center;
  gap: 10px;
  font-size: 48px;
  font-weight: 800;

  input {
    border: none;
    outline: none;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: $high-color;
    background-color: $bckg-color;
    width: 90vw;

    &:focus {
      caret-color: black;
    }
  }
}

.enter-key {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(149, 149, 149);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20px;
    margin-left: 5px;
  }
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.4;
}

.domain-info {
  h1 {
    text-align: center;
  }

  .domain-info-section {
    display: grid;
    place-items: start center;
    grid-template-columns: 1fr 1fr;
  }
}

.domain-section {
  width: 35vw;
}